@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root{
    --titulo: 'Young Serif', serif;
    --texto: 'Outfit', sans-serif;

    --beje: hsl(31, 53%, 90%); /* cor de fundo */
    --marrom-suave: hsl(30, 10%, 34%); /* texto */
    --marrom-escuro: hsl(24, 5%, 18%); /* titulo h1 */
    --chocolate: hsl(14, 45%, 36%); /* titulo e number */ 
    --marsala: hsl(332, 51%, 32%); /* aside titulo */
    --rose: hsl(330, 100%, 98%); /* aside fundo */
    --linha: hsl(30, 18%, 87%); /* linhas */
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--beje);
    color: var(--marrom-suave);
    font-family: var(--texto);
    margin: 10vh 0vh 5vh 0vh;
}

main, footer{
    background-color: white;
    min-width: 320px;
    max-width: 960px;
    margin: auto;
    padding: 10px;
}

main{
    border-radius: 15px 15px 0px 0px;
}

img{
    width: 100%;
    height: 4%;
    border-radius: 10px;
}

section{
    width: 88%;
    margin: auto;
    margin-top: 5vh;
}

h1{
    font-family: var(--titulo);
    color: var(--marrom-escuro);
    font-size: 2em;
    margin: 10px 0px;
}

h2{
    font-family: var(--titulo);
    color: var(--chocolate);
}

section > p{
    margin: 20px 0px;
    text-align: justify;
    line-height: 1.6em;
}

aside{
    margin: auto;
    background-color: var(--rose);
    border-radius: 10px;
    margin-top: 2.8em;
    padding: 2em;
}

h2#preparo{
    color: var(--marsala);
    font-size: 1.2em;
    font-weight: 400;
    font-family: var(--texto);
}

ul, ol{
    padding: 5px;
    margin-top: 10px;
    margin-left: 8px;
    line-height: 1.6em;
}

li{
    margin: 10px 0px;
    padding-left: 10px;
}

li::marker{
    color: var(--marsala);
    font-size: 0.9em;
}

hr{
    width: 85%;
    margin: auto;
    color: var(--linha);
    margin-top: 20px;
}

table{
    width: 100%;
    padding: 5px;
    border-collapse: collapse;
}

td.texto{
    padding: 20px;
    width: 45%;
}

td.num{
    color: var(--chocolate);
    font-weight: bold;
}

tr.borda{
    border-bottom: 1px solid var(--linha);
}

footer{
    border-radius: 0px 0px 15px 15px;
}

footer > p{
    text-align: center;
    font-size: 0.8em;
    font-weight: 400;
}

footer a{
    text-decoration: none;
    color: var(--marrom-escuro);
}

footer a:hover{
    text-shadow: 0px 1px 8px hsla(15, 4%, 18%, 0.310);
}